html {
    font-size: 62.5%; 
    box-sizing: border-box;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    line-height: 1.6;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, max-content);
}

/*  header */
.heading img {
    width: 13rem;
    height: 3.7rem;
    padding-left: 1rem;
    margin-left: 1rem;
}

.heading {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: max-content 1fr max-content max-content;
    grid-template-rows: 10vh;
    grid-column-gap: 2rem;
    line-height: 1.2;
    background-color: #d9e0e6;
}

@media screen and (max-width: 768px) {
    .heading {
        grid-template-columns: max-content 1fr;
        grid-template-rows: 9vh 6vh;
        grid-gap: 0;
        padding: 1rem;
    }
}

@media screen and (max-width: 600px) {
    .heading {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 9vh 6vh;
        grid-gap: 0;
        padding: 1rem;
    }
}

.index__page--heading {
    background-color: #d9e0e6;
}

.heading__title {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    align-self: center;
}

@media screen and (max-width: 768px) {
    .heading__title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        justify-self: end;
    }
}

.heading__name {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 2.2rem;
    font-weight: 400;
    color: #333333;
    align-self: center;
}

@media screen and (max-width: 900px) {
    .heading__name {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 768px) {
    .heading__name {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        justify-self: start;
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 500px) {
    .heading__name {
        font-size: 2rem;
        grid-row-end: 1 / -1;
        justify-self: center;
        align-self: center;
        padding-top: 2rem;
    }
}

.heading__name span {
    font-size: 1.6rem;
}

.heading__login {
    grid-column: 4 / 5;
    grid-row: 1 / 2;
    padding: 1rem 1.5rem;
    background-color: #595959;
    align-self: start;
    justify-self: end;
    color: #c6cfdf;
}

@media screen and (max-width: 768px) {
    .heading__login {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        padding: .75rem;
    }

    .login {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}

@media screen and (max-width: 500px) {
    .login {
        display: none;
    }
}

.heading__login a:link, .heading__login a:visited {
    font-size: 1.6rem;
    color: #c6cfdf;
    list-style: none;
}

.login__name, .logout__btn {
    display: inline-block;
    vertical-align: middle;
    padding-right: .3rem;
}

.login__icon {
    width: 20px;
    height: 20px;
    fill: #c6cfdf;
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .login__icon {
        width: 15px;
        height: 15px;
    }
}

.heading__login:hover {
    background-color: #436885;
}

/* footer */

.footer {
    background-color: #4f5962;
    color: #c6cfdf;
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

@media screen and (max-width: 640px) {
    .footer {
        flex-direction: column;
        padding: 0 4rem;
    }

    .footer div:not(:last-child) {
        border-bottom: 1px solid rgba(198, 207, 223, .5);
    }
}

.footer__contact {
    font-size: 1.6rem;
    padding: 2rem 8rem 2rem 2rem;
}

@media screen and (max-width: 768px) {
    .footer__contact {
        padding: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .footer__contact {
        padding: 2rem 0;
    }
}

.footer__terms {
    padding: 2rem 8rem 2rem 2rem;
    font-size: 1.6rem;
}

@media screen and (max-width: 768px) {
    .footer__terms {
        padding: 2rem;
    }
}

@media screen and (max-width: 640px) {
    .footer__terms {
        padding: 2rem 0;
    }
}

.footer__terms a:link, .footer__terms a:visited  {
    text-decoration: none;
    color: #c6cfdf;
}

.footer__terms a:hover {
    color: white;
}

.footer__disclaimer {
    font-size: 1.6rem;
    padding: 2rem;
}

@media screen and (max-width: 640px) {
    .footer__disclaimer {
        padding: 2rem 0;
    }
}

/* navigation */

.main__nav {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
    grid-template-rows: 5vh;
    grid-column-gap: 2rem;
    background-color: #2C4559;
    width: 100%;
    padding: 1rem 0;
}

@media screen and (max-width: 850px) {
    .main__nav {
        grid-template-columns: 20% 1fr max-content;
    }
}

.register__page .main__nav {
    background-color: #731A1A;
}

.nav a:link, .nav a:visited {
    color: #e5ecf2;
    font-size: 1.8rem;
    padding: 2rem;
} 

.nav:hover {
    color: #ffffff;
}

.navigate {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-self: center;
    justify-self: center;
}

.navigate__mobile {
    display: none;
}


@media screen and (max-width: 850px) {

    .navigate {
        display: none;
    }

    .navigate__mobile {
        display: block;
        position: absolute;
        left: 40%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .navigate__mobile li {
        padding: 1rem;
        visibility: hidden;
    }

    .navigate__mobile a:link, .navigate__mobile a:visited {
        font-size: 2rem;
    }
}

@media screen and (max-width: 450px) {
    .navigate__mobile {
        left: 30%;
    }
}

.admin__btn {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    align-self: center;
    justify-self: end;
}

/* logout button when logged in*/
.logout__btn {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    align-self: center;
    padding-right: 1rem;
}

.logout__btn input {
    color: #e5ecf2;
    font-size: 1.6rem;
    font-family: inherit;
    cursor: pointer;
    border: none;
}

.logout__btn form, .logout__btn input {
    background-color: #2C4559;
}

.register__page .logout__btn form, .register__page .logout__btn input {
    background-color: #731A1A;
}

.highlight {
    color: #8b0000;
    font-style: italic;
    font-size: 1.6rem;
    padding-top: 1.5rem;
}

/* responsive nav */

.menu__btn {
    visibility: hidden;
}


@media screen and (max-width: 850px) {
    .menu__btn {
        visibility: visible;
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        align-self: center;
        justify-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: 15px;
        cursor: pointer;
    }
    
    .navigation__line {
        width: 30px;
        height: 3px;
        background-color: #e5ecf2;
    }
}

/* ////////////////////////////////////////////////////////////////////////////////////////// */

/*  Index page  */
.main {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

@media screen and (min-width: 1024px) and (min-height: 1300px) {
    .main {
        min-height: 80vh;
    }
}

.main__intro {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    font-size: 2rem;
    color: #012840;
    margin: 3rem 5rem;
    padding: 2rem 0;
}

@media screen and (max-width: 900px) {
    .main__intro {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 500px) {
    .main__intro {
        padding: 1rem;
        margin: 2rem 1rem;
    }
}

.main__boxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    padding: 0 5rem 3rem 5rem;
    grid-template-rows: 1fr;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .main__boxes {
        grid-gap: 1rem;
        padding: 0 1rem 3rem 1rem;
    }
} 

@media screen and (max-width: 768px) {
    .main__boxes {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .main__boxes {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content);
    }
}

.main__box {
    border: 1px solid #cccccc;
    height: 100%;
}

@media screen and (max-width: 550px) {
    .main__box {
        border: none;
    }
}

.main__content {
    padding: 0 2rem;
}

@media screen and (max-width: 550px) {
    .main__content{
        padding:0;
    }
}

.main__head {
    background-color: #436885;
    padding: 1rem;
    width: 100%;
}

.main__head h3 {
    font-size: 2rem;
    color: #fff;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding-left: .75rem;
}

.main__box img {
    width: 100%;
    height: 35%;
    padding-top: 2rem;
}

@media screen and (max-width: 550px) {
    .main__box img {
        padding: 0;
    }
}


.main__box p {
    font-size: 1.6rem;
    color: #012840;
    padding: 2rem 0;
}

@media screen and (max-width: 550px) {
    .main__box p {
        padding: 1rem;
        font-size: 1.8rem;
    }
}

.main__box--1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

@media screen and (max-width: 550px) {
    .main__box--1 {
        grid-column: 1 /2;
        grid-row: 1/ 2;
    }
}

.main__box--2 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

@media screen and (max-width: 550px) {
    .main__box--2 {
        grid-column: 1 /2;
        grid-row: 2 / 3;
    }
}

.main__box--3 {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

@media screen and (max-width: 768px) {
    .main__box--3 {
        grid-column: 1 /2;
        grid-row: 2/ 3;
    }
}

@media screen and (max-width: 550px) {
    .main__box--3 {
        grid-column: 1 /2;
        grid-row: 3 / 4;
    }
}

.main__box--3 p:not(:last-child) {
    border-bottom: 1px solid #cccccc;
}

.icon {
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    fill: #fff;
}

/* login page */

.login__container {
    height: 100vh;
    position: relative;
    background-image: url(../assets/building.jpg); 
    background-position: center;
    background-repeat: no-repeat; 
    background-size: cover;
}

.login__page {
    min-height: 80vh;
}

.login__page form fieldset {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    height: 480px;
    width: 240px;
    background-color: rgba(255, 255, 255, .9);
    border: none;
    border-top: 3px solid rgba(0, 0, 0, .9);
    padding: 2rem;
    border-radius: 5px;
    color: #262626;
    line-height: 1.2;
}

@media screen and (max-width: 768px) {
    .login__page form fieldset {
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.login__page--heading {
    background-color: rgba(255, 255, 255, .7);
}

.form__heading--large {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 3.2rem;
    text-transform: uppercase;
    border-bottom: 1px solid #cccccc;
    padding-bottom: 1.5rem;
}

.form__heading--small {
    font-family: Impact, Charcoal, sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding: 1.5rem 0;
}

.form__inputs {
    font-size: 1.6rem;
    padding-bottom: .5rem;
}

.form__inputs input {
    font-size: 1.6rem;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    background-color: #e8f0fe;
    padding: .75rem;
}

.form__inputs input:focus {
    border: 3px solid #b6b6b6;
    background-color: #ffffff;
    outline: none;
  }

.form__submit input {
    font-size: 1.3rem;
    text-transform: uppercase;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
}

.form__submit {
    margin-top: 1rem;
}

.form__ending {
    color:  #85adf3;
    font-size: 1.8rem;
    text-decoration: underline;
    padding: 2rem 0;
    font-family: Impact, Charcoal, sans-serif;
}

/* Intranet page */
.intranet__page {
    min-height: 80vh;
}

.intranet__content {
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   margin: 2rem;
}

@media screen and (max-width: 900px) {
    .intranet__content {
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
} 

.main__intranet--list {
    border: 1px solid #c8c4c4;
    width: 30vw;
}

@media screen and (max-width: 1152px) {
    .main__intranet--list {
        width: 50vw;
    }
}

@media screen and (max-width: 900px) {
    .main__intranet--list {
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .main__intranet--list {
        width: 80vw;
    }
}

.main__intranet--list p {
    background-color: #d9e0e6;
    font-size: 2rem;
    padding: 1rem 2rem;
    color: #2c4559;
}

@media screen and (max-width: 600px) {
    .main__intranet--list p {
        padding: 1rem .5rem;
    }
}

.main__intranet--list ul {
    padding: 1.5rem;
}

.main__intranet--list a:link, .main__intranet--list a:visited {
    color: #4F82AD;
}

.main__intranet--list a:hover {
    color: #51718D;
}

.main__intranet--list li {
    font-size: 1.6rem;
    padding: .75rem 0;
}

.main__intranet--list li:not(:last-child) {
    border-bottom: 1px solid #d9e0e6;
}

.main__intranet--text {
    font-size: 1.6rem;
    padding: 0 4rem;
}

@media screen and (max-width: 600px) {
    .main__intranet--text {
        padding: 0 1rem;
    }
}

.main__intranet--text span {
    color: #4F82AD;
    text-decoration: underline;
}

.main__intranet--text p {
    padding-top: 2rem;
}

.text {
    border-bottom: 1px solid #d9e0e6;
}

/* results pages */
.results__content {
    min-height: 70vh;
}

.results__content h2 {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    padding: 4rem 0;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: .5rem;
    font-size: 1.6rem;
}

th {
    font-style: italic;
    background-color: #436885;
    color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #d9e0e6;
}

/* register */

.register__content {
    min-height: 70vh;
    max-height: 80vh;
    padding: 2rem 4rem;
    display: grid;
    grid-template-columns: 60vw 30vw;
    grid-template-rows: 1fr;
    grid-gap: 2rem;
}

@media screen and (max-width: 900px) {
    .register__content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        justify-items: center;
        max-height: max-content;
    }
}

@media screen and (max-width: 500px) {
    .register__content {
       padding: 1rem 0;
    }
}

.register__instruct {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    justify-self: center;
    padding-top: 6rem;
}

@media screen and (max-width: 900px) {
    .register__instruct {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        padding: 2rem;
        width: 80%;
        height: max-content;
        justify-self: center;
        align-self: center;
    }
}

@media screen and (max-width: 600px) {
    .register__instruct {
        width: 90%;
    }
}

.register__instruct li {
    font-size: 1.6rem;
}

.register__form {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

@media screen and (max-width: 900px) {
    .register__form {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
    }
}

.register__form form fieldset {
    padding: 2rem;
    border: none;
    background-color: rgba(20, 54, 79, 0.05);
    border-radius: 5px;
    color: #262626;
    width: 90%;
}

@media screen and (max-width: 900px) {
    .register__form form fieldset {
        width: 70vw;
    }
}

@media screen and (max-width: 600px) {
    .register__form form fieldset {
        width: 80vw;
        padding: 1rem;
    }
}

@media screen and (max-width: 500px) {
    .register__form form fieldset {
        width: 90vw;
    }
}

.register__form form .box {
    padding-bottom: 2rem;
}

@media screen and (max-width: 500px) {
    .register__form form .box {
        padding-bottom: 1rem;
    }
}

.register__form .left {
    width: 20%;
    display: inline-block;
    font-size: 1.6rem;
}

@media screen and (max-width: 500px) {
    .register__form .left {
        width: 100%;
        display: block;
    }
}

.register__form input, .register__form select, .register__form select {
    padding: .3rem; 
}

.register__form input {
    width: 60%;
    display: inline-block;
}

@media screen and (max-width: 500px) {
    .register__form input {
        width: 80%;
        display: block;
    }
}

.register__form input, .register__form select {
    font-size: 1.6rem;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
    padding: .5rem;
}

.register__form input:focus, .register__form select:focus {
    border: 3px solid rgba(0, 0, 0, .7);
    outline: none;
}

.register__form h2 {
    font-size: 2.5rem;
    font-weight: normal;
    color: #262626;
    padding: 2rem;
}

.form__error {
    color: red;
    font-size: 1.6rem;
}

.error__field p {
    padding-bottom: 1rem;
    text-align: center;
}

.register__content input[type=submit] {
    font-size: 1.3rem;
    text-transform: uppercase;
    border: none;
    background-color: #000;
    color: #fff;
    padding: 1rem;
    border-radius: 5px;
    width: max-content;
    float: right;
}






